*{
    margin: 0;
    padding: 0;
}

.nav_img{
    height: 40px;
    width: 100%;
}

.bg_phn{
    background-color: #377095;
    font-size: 18px;
    color: white;
    
}
 .nav_color{
    color:#377095;
    font-size: 22px;
}
.nav_font_Color{
    color:#377095;
}
.banner_img{
    width: 100%;
    transform: scale(1.4);
}
.banner_text{
    top:2%;
}

.btn_color{
    background: #F15A2B;
}
.contetn_img{
    height: 1600px;
}
.border_color{
    color:blue;
}
.footer_icon{
    padding:14px;
    background: #F15A2B;
    border-radius: 100%;
}
.footer_fab{
    padding:14px 16px;
    background: #F15A2B;
    border-radius: 100%;
}
.footer_you{
    padding:14px 13px;
    background: #F15A2B;
    border-radius: 100%; 
}
.footer_bottom{
    background: #F15A2B;
    
}
